@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
:root{
  --shade-1: rgba(0, 0, 0, 0.25);
  --primary-2: #3F51B5;
}
body{
  background-color: white;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
  box-sizing: border-box;
  margin: 2rem;
}


.row{
  display: flex;
  gap: 1rem;
}
.justify-center{
  justify-content: center;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
.align-center{
  align-self: center;
}

.below-700{
  display: flex;
}
.above-700{
  display: none;
}
.opacity-25{
  opacity: 25%;
}


@media only screen and (min-width: 755px) {
  .below-700{
    display: none;
  }
  .above-700{
    display: block;
  }
  .text-align-start{
    text-align: start;
  }
}


@media only screen and (max-width: 755px) {
.Overline{
  text-align: center;
}
.Quantity{
  gap: 1rem;
}
}